/**************** css file for portfolio site of web designer Joe Vaughn ******************/

/*  Grid Section */

body {
	width: 1000%;
	height: auto;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

header {
	align-content: center;
}


/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/******** End of Grid Section ********/

/********  Typography   **********/
@font-face {
	font-family: 'Rockaway-Beach';
	src: url('fonts/RockawayBeach-Regular.woff') format('woff'),
		 url('fonts/RockawayBeach-Regular.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
body {
    font-size: 100%;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Hind Madurai', 'Karla', sans-serif;
	font-size: 3em;
	font-weight: 700;
}
h2 {
	font-size: 2.7em;
	font-weight: 700;
	font-family: 'Hind Madurai', 'Karla', sans-serif;
}
h3 {
	font-size: 2.4em;
	font-weight: 700;
	font-family: 'Hind Madurai', 'Karla', sans-serif;
}
h4 {
	font-size: 2.1em;
	font-weight: 600;
	font-family: 'Rockaway-Beach','Hind Madurai', 'Karla', sans-serif;
}

/**********************  End of Typography Section ****************************/

/****************************Font Awesome *********************************/
.fa-linkedin {
	background: #007bb5;
	color: white;
  }
  .fa-twitter {
	background: #55ACEE;
	color: white;
  } 



/************************ Layout ***************************/
#column1 {
	background-color: rgba(141, 162, 182, 0.63);
}

#tagline {
	margin-left: .5em;
}
.social-link {
	max-width: 100%;
	font-size: 1.8em;
	line-height: 2em;
	margin-bottom: 1.5em;
	padding: 1em;
	text-decoration: none;
}

/* images sizes */
img {
	max-width: 100%;
}
li{
	max-width: 90%;
}

figure {
	max-width: 90%;
	padding: .5em .5em;
	margin: 1em .5em .25em .5em;
	
}

figure img {
	max-width: 90%;
	max-height: 90%;

	border-style: outset;
	border-width: .1em;
	border-color: rgba(54, 71, 90, 0.83);
}

/*****Component Begins******/
.zone {
  /*border-radius: 100%;*/
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 1px dashed #818181;*/
  flex-shrink: 0;
}

button {
  border: 0;
  position: relative;
  padding: 0;
  cursor: pointer;
  background: transparent;
  outline: none;
}

.bodymovin {
  width: 62px; /* 310 */
  height: 34px; /* 170 */
  position: absolute;
  top: -29px;
  right: 4%;
  z-index: 0;
  pointer-events: none;
  transition: transform 0s;
}

.bodymovin--hidden {
  transform: translateY(30px);
  transition: transform 0.55s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.text {
  position: relative;
  padding: 15px 34px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: block;
  background: #442770;
  border-radius: 3px;
  transition: background 0.2s ease-in-out;
}

button:hover .text {
  background: #7934a0;
}
/******Component Ends******/

/********************Grid Effects*******************************/



/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1em .5em 1em 0em;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 {
		width: 100%;
	 }
	 
}

@media only screen and (min-width: 750px) {
	  body {
		width: 80%;
		margin: auto;
	 }
	 h1, h2, h3 {
		align-content: center;
		margin-left: 10%;
	 }
	
}