/**************** css file for portfolio site of web designer Joe Vaughn ******************/

/*  Grid Section */

body {
	width: 100%;
	height: auto;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/******** End of Grid Section ********/

/********  Typography   **********/
@font-face {
	font-family: 'Rockaway-Beach';
	src: url('fonts/RockawayBeach-Regular.woff') format('woff'),
		 url('fonts/RockawayBeach-Regular.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
body {
    font-size: 100%;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Hind Madurai', 'Karla', sans-serif;
	font-size: 3em;
	font-weight: 700;
}
h2 {
	font-size: 2.7em;
	font-weight: 700;
	font-family: 'Hind Madurai', 'Karla', sans-serif;
}
h3 {
	font-size: 2.4em;
	font-weight: 700;
	font-family: 'Hind Madurai', 'Karla', sans-serif;
}
h4 {
	font-size: 2.1em;
	font-weight: 600;
	font-family: 'Rockaway-Beach','Hind Madurai', 'Karla', sans-serif;
}

/**********************  End of Typography Section ****************************/

/****************************Font Awesome *********************************/
.fa-linkedin {
	background: #007bb5;
	color: white;
  }
  .fa-twitter {
	background: #55ACEE;
	color: white;
  } 


/* form */

#formsection {
	max-width: 90%;
	margin-top: 1em;
	padding-top: .5em;
	margin-left: .5em;
}

form input {
	line-height: 1.65em;
	margin: .5em;
	padding: .5em;
}

/************************ Layout ***************************/
#column1 {
	background-image: linear-gradient(90deg, rgba(63, 87, 110, 0.83), rgba(60, 83, 125, 0.92);
}

#tagline {
	margin-left: .5em;
}
.social-link {
	max-width: 100%;
	font-size: 1.8em;
	line-height: 2em;
	margin-bottom: 1.5em;
	padding: 1em;
	text-decoration: none;
}

/* images sizes */
img {
	max-width: 100%;
}
li{
	max-width: 90%;
}

figure {
	max-width: 90%;
	padding: .5em .5em;
	margin: 1em .5em .25em .5em;
	
}

figure img {
	max-width: 90%;
	max-height: 90%;

	border-style: outset;
	border-width: .1em;
	border-color: rgba(54, 71, 90, 0.83);
}


/********************Grid Effects*******************************/



/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1em .5em 1em 0em;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

@media only screen and (min-width: 750px) {
	#column1 {
		width: 40%;
		padding-right: .75em;
		padding-left: 0;
		margin: 0 .5em 1em 0;
	}
	#column2 {
		padding-left: 2em;
	}
	#column2 h2 {
		text-align: center;
	}
	li {
		padding-bottom: 1em;
	}
}
